@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
  background-color: var(--background);
  height: 100%;
  overflow: hidden; 
  z-index: -1;
}
/**************info****************/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.intro__h1{
  font-family: ;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: ;
}

#changing-word {
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
  display: inline-block;
  min-width: 2rem; 
}

.intro__span{
  background: red;
  width: 50%;
  z-index: 1;
}

/************ wave animation ***************/
.olas-auto {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 29rem;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

[class^="ola__"] {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 110%;
}

.ola-mov {
  width: 100%;
  height: 95%;
  object-fit: cover;
  animation: deslizarOla 60s linear infinite;
}

@keyframes deslizarOla {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}